cog
dlib
einops
h5py
lmdb
matplotlib
mc
natsort
numpy
opencv_python
opencv_python_headless
phasepack
ptflops
PyYAML
Requests
scipy
setuptools
skimage
timm
torch
torch_dwconv
torchvision
tqdm
wandb
XlsxWriter
